<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>

    <div>
        <div>
            <nav>
                <div>
                    <h1>
                        <a href="/home.ejs">Blog Post</a>
                    </h1>
                </div>
                <ul>
                    <li>
                        <a href="/home.ejs">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/blogPage.ejs">
                            <span>Blog</span>
                        </a>
                    </li>
                    <li>
                        <a href="/editBlog.ejs">
                            <span>Edit</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

